.container {
    display: flex;
    justify-content: center;
    min-width: 50rem;
    margin-top: 7rem;
}

.pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
    /* grid-template-columns: 22rem 22rem 22rem 22rem 22rem 22rem 22rem; */

}

.pokemonCard {
    display: flex;
    justify-content: center;
    width: 21rem;
    height: 42rem;
    border-radius: 2rem;

    background-color: rgb(17, 29, 61);
    margin-top: 1rem;
}

.pokemonCard ul {
    list-style: none;
}

.pokemonCard ul li .name {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

.pokemonCard ul li p {
    display: flex;
    align-items: center;

    width: 20rem;
    height: 3rem;

    margin-top: .5rem;
    padding-left: 1rem;
    list-style: none;
    font-size: 1.3rem;

    background-color: rgb(38, 56, 100);
    border-radius: 2rem;
    color: white;
}

.pokemonCard ul li p img {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.pokemonCard img {
    width: 20rem;
    height: 20rem;
}

.buttonMorePoke {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.buttonMorePoke button {
    height: 5rem;
    width: 25rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(62, 74, 107);
    color: white;

    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonMorePoke button:hover {
    background-color: rgb(59, 68, 88);
}

@media (max-width: 768px) {
    .pokemonList {
        display: flex;
        flex-direction: column;
        /* Muda a direção do flexbox */
    }
}