.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pokemonCard {
    display: grid;
    justify-content: flex-start;
    width: 150rem;
}

.pokemonCard img {
    width: 25rem;
    height: 25rem;
}